@import "compass/css3";
@import "compass/reset";
@import "compass/typography";

$background-color: #efefef;
$blue: #1500ff;
$orange: #ef2a00;
$muted-pink: #ff7774;
$text-color: #333;
$border-color: lighten($text-color, 50%);
$font-family: "Trim Mono Light", monospace;

body {
  background: $background-color;
  color: $text-color;
  font-family: $font-family;
  font-style: normal;
  padding: 2em 0;
  text-rendering: optimizeLegibility;
  width: 100%;
  word-spacing: -0.03em;
  //-webkit-font-smoothing: antialiased;

  #wrap {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1160px;
    padding: 10px;
    width: 100%;
    @include transition-property(max-width);
    @include transition-duration(0.4s);
  }
}

section {
  float: left;
  margin: 1em 0;
  width: 100%;
}

h1 {
  @include adjust-font-size-to(36px, 2);
  font-weight: 200;
}

h3 {
  @include adjust-font-size-to(18px, 0.8);
  font-weight: 200;
  margin: 0 0 1em;
}

a {
  border-bottom: 1px solid $border-color;
  color: $text-color;
  padding: 2px;
  text-decoration: none;

  &:hover {
    background-color: $blue;
    color: #efefef;
    border-color: #efefef;
  }
}

p {
  border-top: 1px solid $border-color;
  margin: 1em 0;
  padding: 1em 0 0;

  @include adjust-font-size-to(16px, 0.9);
}

.box {
  background: $blue;
  @include box-sizing(border-box);
  color: #efefef;
  float: left;
  font-weight: 200;
  min-height: 60px;
  height: auto;
  padding: 0;
  text-align: center;
  width: 100%;

  p {
    border: 0;
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  h1 {
    @include adjust-font-size-to(24px, 1.2);
  }

  h3 {
    @include adjust-font-size-to(16px, 0.8);
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  body {
    #wrap {
      max-width: 95%;
    }
  }

  h1 {
    @include adjust-font-size-to(24px, 1.2);
  }

  h3 {
    @include adjust-font-size-to(16px, 0.8);
  }

  p {
    @include adjust-font-size-to(12px, 0.85);
  }
}
