@import "compass/css3";
@import "compass/reset";
@import "compass/typography";

$background-color: #efefef;
$blue: #1500ff;
$orange: #ef2a00;
$muted-pink: #ff7774;
$font-family: Helvetica, Arial, sans-serif;

body {
  background: $background-color;
  font-family: $font-family;
  padding: 2em 0;
  text-rendering: optimizeLegibility;
  width: 100%;
  word-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;

  #wrap {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1160px;
    padding: 10px;
    width: 100%;
    @include transition-property(max-width);
    @include transition-duration(0.4s);
  }
}

section {
  float: left;
  margin: 1em 0;
  width: 100%;
}

h1 {
  @include adjust-font-size-to(36px, 2);
  font-weight: 300;
}

h3 {
  @include adjust-font-size-to(18px, 0.8);
  font-weight: 700;
  margin: 0 0 1em;
}

.box {
  background: $blue;
  @include box-sizing(border-box);
  color: #efefef;
  float: left;
  font-weight: 500;
  min-height: 60px;
  height: auto;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  h1 {
    @include adjust-font-size-to(24px, 1.2);
  }

  h3 {
    @include adjust-font-size-to(16px, 0.8);
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  body {
    #wrap {
      max-width: 95%;
    }
  }

  h1 {
    @include adjust-font-size-to(24px, 1.2);
  }

  h3 {
    @include adjust-font-size-to(16px, 0.8);
  }

  p {
    @include adjust-font-size-to(12px, 0.6);
  }
}