$media: ml;
$columns: 12;
$gutter-width: 5px;

$media-min-width: 480px;
$media-max-width: 767px;

@media screen and (min-width: $media-min-width) and (max-width: $media-max-width) {
  @include ingrid($columns, $gutter-width, $media);

  // .#{$media}-hide,
  // .#{$default-class}-show {
  //   display: none !important;
  // }

  // .#{$media}-show,
  // .#{$default-class}-hide {
  //   display: block !important;
  // }

  // #{elements-of-type(inline)} {
  //   &.#{$default-class}-show {
  //     display: none !important;
  //   }
  //   &.#{$media}-show,
  //   &.#{$default-class}-hide {
  //     display: inline !important;
  //   }
  // }
}