@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";

@function column-width($n, $col-width) {
  @return $col-width * $n;
}

@mixin container {
  @include pie-clearfix;
  float: left;
  width: 100%;
}

@mixin column-base {
  @include pie-clearfix;
  float: left;
}

@mixin push($n, $col-width) {
  position: relative;
  margin-left: $n*$col-width;
  margin-right: -$n*$col-width;
}

@mixin pull($n, $col-width) {
  position: relative;
  margin-left: -$n*$col-width;
}

@mixin column($n, $col-width, $gutter-width) {
  @include column-base;
  @include box-sizing(border-box);
  margin-bottom: $gutter-width;
  padding-left: ($gutter-width / 2);
  padding-right: ($gutter-width / 2);
  position: relative;
  width: column-width($n, $col-width);
}

@mixin row($gutter-width) {
  @include pie-clearfix;
  margin-left: ($gutter-width / -2);
  margin-right: ($gutter-width / -2);
}

@mixin ingrid($columns, $gutter-width, $media) {

  $col-width: 100% / $columns;

  @for $n from 0 through $columns {
    @if $n % 2 == 0 {
      .push-#{$media}-#{$n} {
        @include push($n, $col-width);
      }
      .pull-#{$media}-#{$n} {
        @include pull($n, $col-width);
      }
      @if $n != 0 and $n % 2 == 0 {
      .span-#{$media}-#{$n} {
        @include column($n, $col-width, $gutter-width);
      }
    }
    }
  }

  .row {
    @include row($gutter-width);
  }
}
