$default-class: d;
$columns: 24;

@media screen and (min-width: 980px) {
  @include ingrid($columns, $gutter-width, $default-class);

  @if $hide-classes {
    *[class$="hide"] {
      display: block;
    }

    #{elements-of-type(inline)} {
      &[class$="hide"] {
        display: inline;
      }
    }

    *[class$="show"] {
      display: none;
    }

    .#{$default-class}-hide {
      display: none !important;
    }

    .#{$default-class}-show {
      display: block !important;
    }

    #{elements-of-type(inline)} {
      &.#{$default-class}-show {
        display: inline !important;
      }
    }
  }
}
