$media: tp;
$columns: 12;

$media-min-width: 768px;
$media-max-width: 980px;

@media screen and (min-width: $media-min-width) and (max-width: $media-max-width) {
  @include ingrid($columns, $gutter-width, $media);

  @if $hide-classes {
    .#{$media}-hide,
    .#{$default-class}-show {
      display: none !important;
    }

    .#{$media}-show,
    .#{$default-class}-hide {
      display: block !important;
    }

    #{elements-of-type(inline)} {
      &.#{$default-class}-show {
        display: none !important;
      }
      &.#{$media}-show,
      &.#{$default-class}-hide {
        display: inline !important;
      }
    }
  }
}
